.side-bar {
    width: 300px;
    min-height: 180px;
    text-align: center;
    background-color: #2b3035;
    border-radius: 5px;

    float: right;
    margin: 0px 48px 0 0;
    padding-top: 10px;
    padding-bottom: 13px;
}

.side-bar-item {
    height: 60px;
    margin: 0;
    padding: 0;
}

.side-bar-nav {
    width: 280px;
    height: 30px;
    margin: 0;
    padding: 15px 0 10px 20px;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    font-family: calibri;
    border-radius: 0;
    background-color: #2b3035;
}

.side-bar-item input[type="submit"] {
    width: 300px;
    height: 60px;
    margin: 0;
    padding: 0 0 0 20px;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    color: white;
    border: 0px;
    font-family: calibri;
    background-color: #2b3035;
    outline: none;
}

.side-bar-item input[type="submit"]:hover, .side-bar-nav:hover {
    color: #f4f4f4;
    background-color: #41484e;
    cursor: pointer;
}