table{
    width: 1000px;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #bdd4dd;
    font-family: calibri;
}
th{
    height: 50px;
    border-bottom: 2px solid #f4f4f4;
    padding-left: 10px;
    text-align: left;
    font-weight: normal;
}

.thead{
    background-color: #2b3035;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    height: 70px ;
}

.thead th{
    border-bottom: 0;
}

.button{
    vertical-align: middle;
}

.button input[type="submit"]{
    width: 130px;
    margin: 5px 5px 0 5px;
    height: 35px;
    background-color: #1AAEB9;
    color: #ffffff;
    text-align: center;
    font-family: calibri;
    font-weight: bold;
    border-radius: 4px;
    outline: none;
    border: none;
}

tr:hover{
    background-color: #f9f9f9;
}

.thead:hover{
    background-color: #2b3035;
}

.button input[type="submit"]:hover{
    background-color: rgba(24, 33, 52, 0.6);
    cursor: pointer;
}

.head-button input[type="submit"]{
    width: 260px;
    height: 50px;
    background-color: #2b3035;
    color: white;
    font-family: calibri;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    outline: none;
    border: none;
}

.head-button input[type="submit"]:hover{
    background-color: rgba(24, 33, 52, 0.6);
    cursor: pointer;
}

.user-info-head{
    width: 600px;
    border: 0;
}

.user-info-head tr{
    background-color: #41484e;
    width: 600px;
    border: none;
}
.user-info-head tr:hover{
    background-color: #41484e;
}

.order-item{
    width: 920px;
    height: 220px;
    background-color: white;

    padding: 0;
    margin: 0 0 40px 0;
}

.order-table{
    width: 900px;
    min-height: 10px;
    border: 0;
}

.order-table th{
    height: 40px;
    font-family: calibri;
    font-weight: normal;
    font-size: 14px;
    padding: 9px 0 9px 10px;
    width: 200px;

}

.order-table tr:hover{
    background-color: white;
}

.order-table .thead:hover{
    background-color: #2b3035;
}

.order-button input[type="submit"]{
    width: 200px;
    height: 35px;
    font-family: calibri;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: 0;
}
.order-button input[type="submit"]:hover{
    color: white;
}

.order-select{
    width: 200px;
    height: 40px;
    margin-right: 20px;
    outline: none;
    cursor: pointer;
}


.car-item{
    width: 1000px;
    min-height: 250px;
    margin: 0 0 20px 0;
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #2b3035;

}

.car-item-content{
    float: right;
    width: 550px;
    height: 300px;

}

.car-item-header{
    font-size: 23px;
    font-family: calibri;
    width: 440px;
    text-align: center;
    margin:0;
    background-color: #2b3035;
    color: #ffffff;
    height: 40px;
    padding: 13px 0 0px 0;
    font-weight: normal;

}
.car-item-img{
    padding:0;
    margin: 0;
    width: 450px;
    height: 330px;
    background-color: #2b3035;
}

.car-table{
    width: 550px;
}

.car-th{
    height: 26px;
    background-color: #2b3035;
    border-bottom: 0;
    color: white;
}

.car-tr th{
    height: 27px;
}


.rent-button{
    float: right;
    margin: 0 20px 20px 0;
}

.rent-button input[type="submit"]{
    width: 130px;
    height: 38px;
    text-align: center;
    border-radius: 4px;
    background-color: green;
    color: white;
    outline: none;
    border: 0;
}

.rent-button input[type="submit"]:hover{
    cursor: pointer;
    color: #f4f4f4;
}